@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');



/* Header */
header {
    display: flex;
    justify-content: center;
}

header div {

    background: linear-gradient(180.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url(../Images/m7/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 82.5%;
    height: auto;
    margin-top: 50px;
}

header h5 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Merriweather';
    font-size: 38.4px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 186px;
    margin-bottom: 0px;
}

header h3 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Merriweather';
    font-size: 86.4px;
    font-weight: 900;
    line-height: 114px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;
}

/* Section-OFF */
.off-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.off h1 {
    color: rgba(255, 0, 0, 1);

    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 58px;
}

.off p {
    color: rgba(255, 0, 0, 1);

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.off h5 {
    color: rgba(7, 2, 17, 1);

    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0px;
}

/* Section-Welcome */
.welcome-section {
    display: flex;
    justify-content: center;
}

.welcome-section>div {
    display: flex;
    align-items: center;
    background-image: linear-gradient(90.00deg, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0) 100%), url(../Images/m7/Vectorrr.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 82.5%;
    margin-top: 120px;
    margin-bottom: 120px;
    gap: 140px;
    padding-top: 84px;
    padding-bottom: 70px;

}

.welcome h2 {
    color: rgba(255, 255, 255, 1);

    font-family: Merriweather;
    font-size: 76.8px;
    font-weight: 900;
    line-height: 105.6px;
    letter-spacing: 8px;
    text-align: left;
    margin-top: 10px;
    margin-left: 151.2px;
    margin-bottom: 20px;
}

.welcome p {
    color: rgba(255, 255, 255, 0.8);

    font-family: Inter;
    font-size: 21.6px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 151.2px;
    margin-bottom: 60px;
}

.welcome a {
    color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    margin-left: 190px;
}

/* Section-loc */
.loc-section {
    display: flex;
    justify-content: center;
}

.loc {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 110px;
    margin-bottom: 120px;
    width: 82.5%;

}

.loc p {
    font-family: Inter;
    font-size: 39px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: -20px;

}

.loc span {
    color: rgba(255, 0, 0, 1);
}

.loc button {
    color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;

    background: rgba(255, 0, 0, 1);
    border: none;
    margin-top: 68px
}

/* Section-Soon */


.soon-section {
    display: flex;
    justify-content: center;
    margin-bottom: 120px
}

.soon {
    display: flex;
    align-items: center;
    width: 82.5%;
}

.t-head {
    color: rgba(255, 0, 0, 1);

    font-family: Inter;
    font-size: 29px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.soon #y25 {
    font-size: 57.6px;
    font-weight: 700;
    margin-bottom: 0px;
}




.sub {
    color: rgba(7, 2, 17, 0.6);

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
}

.head {
    color: rgba(7, 2, 17, 1);

    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-top: -20px;
    margin-bottom: 40px;
}

.soon .middle {
    box-sizing: border-box;
    border: 15px solid rgba(255, 0, 0, 1);
    border-radius: 360px;
    padding: 35px;
    margin-left: 104px;
    margin-right: 140px;
}


/* Section-Sale */

.sale-section {
    display: flex;
    justify-content: center;
    margin-bottom: 120px
}

.sale {
    display: flex;
    flex-direction: column;
    width: 82.5%;
}

.sale-des #func {
    color: rgba(7, 2, 17, 1);

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.sale-des p {
    text-align: center;
}

.sale-des h3 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.sale-des span {
    color: rgba(255, 0, 0, 1);
}





.sale-img .gift-box{
    position: relative;
    top: 200px;
    right: -80px;
    z-index: 2;
}
.sale-img .sticker{
    position: relative;
}
.sale-img .sticker img{
    position: absolute;
    right: 80px;
    top: 250px;
}
.sale-img .gift-box img, .sale-img .sticker img{
    scale: 1.2;
    
}

.red-line img{
    width: 100%;
    border-radius: 16px;
}



/* Section-Gifts */

.gift-section {
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}

.gift {
    display: flex;
    flex-direction: column;
    width: 82.5%;
}

.gift img {
    width: calc(100% / 3);
    opacity: 0.6;
}

.img-box-t,
.img-box-b {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.gift img:hover {
    opacity: 1;
    transform: scale(1.04);
    transition: transform 0.2s ease;
}

/* Section-Subscribe*/

.subscribe-section {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

}

.subscribe {
    border-radius: 16px;

    background: rgba(255, 0, 0, 0.05);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 82.5%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.subscribe h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.subscribe p {
    text-align: center;
    margin-bottom: 60px;
}

.subscribe #submit {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: rgba(255, 0, 0, 1);
    padding: 24px 56px;
    border: none;
    cursor: pointer;
}

.subscribe #mail {
    color: rgba(7, 2, 17, 0.3);
    opacity: 0.8;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 50px 0px 0px 50px;
    background: rgba(255, 255, 255, 1);
    padding: 25px 30px;
    border: none;
    text-align: start;
    width: 440px;
}

.subscribe #submit:hover {
    transform: translateY(-2px);
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    background: rgba(7, 2, 17, 1);         
}
.footer{
    width: 82.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.address > div{
    display: flex ;
    align-items: center;
    gap: 10px;
    
}
.call{
    margin-bottom: -50px;
}

.footer p, .address{
    color: rgba(255, 255, 255, 1);

font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 100%;
letter-spacing: 0%;
text-align: left;
line-height: 40px;
}

.reserved{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px ;
}

.footer hr{ border: 1px solid rgba(255, 255, 255, 0.15);  
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28.8px;
    padding: 32px ;
}
.icons a:hover{
    transform: translateY(-2px);
    animation: bumpy 0.5s ease;
}