.main_logo{
    padding-top: 10px;
    padding-bottom: 10px;
}
.link{
    text-decoration: none;
    color: black;
    
}
.link:hover{
    background-color: lightgrey
}
header{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 10px; margin-bottom: 20px;
}
main{
    padding: 10px;
}